/* [project]/components/slider/Card.module.css [app-ssr] (css) */
.Card-module__dr5V-W__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 26rem;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 2rem 2rem;
  border-radius: 10px;
  border: 2px solid #ffffffe6;
  opacity: 1 !important;
}

.Card-module__dr5V-W__card img {
  width: 100%;
  min-width: 200px;
  max-width: 200px;
  min-height: 100px;
  border-radius: 8px;
  margin-right: auto;
  max-height: 100px !important;
  padding-top: 15px !important;
}

.Card-module__dr5V-W__card h2 {
  margin: 0;
  margin-top: 1rem;
}

.Card-module__dr5V-W__card p {
  margin: 0;
  margin-top: .5rem;
  margin-bottom: 1.5rem;
}

.Card-module__dr5V-W__card .Card-module__dr5V-W__btnn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div div div:nth-child(6n+1) .Card-module__dr5V-W__card {
  background: url("/bl_02.png");
  background-color: bottom right;
  background-size: cover;
}

div div div:nth-child(6n+2) .Card-module__dr5V-W__card {
  background: url("/ylw_01.jpg");
  background-color: bottom right;
  background-size: cover;
}

div div div:nth-child(6n+3) .Card-module__dr5V-W__card {
  background: url("/bl_02.png");
  background-color: bottom right;
  background-size: cover;
}

div div div:nth-child(6n+4) .Card-module__dr5V-W__card {
  background: url("/gr_02.png");
  background-color: bottom right;
  background-size: cover;
}

div div div:nth-child(6n+5) .Card-module__dr5V-W__card {
  background: url("/ylw_01.jpg");
  background-color: bottom right;
  background-size: cover;
}

div div div:nth-child(6n+6) .Card-module__dr5V-W__card {
  background: url("/gr_02.png");
  background-color: bottom right;
  background-size: cover;
}

@media (width >= 320px) and (width <= 1259px) {
  .Card-module__dr5V-W__card {
    width: 18rem;
    padding: 15px;
  }

  .Card-module__dr5V-W__card img {
    width: 100%;
    min-width: 150px;
    max-width: 150px;
    max-height: 75px;
    margin-top: 0 !important;
    padding: 0 !important;
  }

  div div div:nth-child(6n+1) .Card-module__dr5V-W__card {
    background: url("/green_mobile.png");
  }

  div div div:nth-child(6n+2) .Card-module__dr5V-W__card {
    background: url("/yellow_mobile.png");
  }

  div div div:nth-child(6n+3) .Card-module__dr5V-W__card {
    background: url("/blue_mobile.png");
  }
}


/* [project]/components/Banners_tailwind/Three_part_gallery/Popular_offers/styled.component.css [app-ssr] (css) */
.popular-offers .slick-slide {
  margin-right: 0 !important;
}

@media (width >= 320px) and (width <= 767px) {
  .popular-offers .cards-th {
    margin-top: 40px;
  }
}


/* [project]/components/Banners_tailwind/Advent/styled.component.css [app-ssr] (css) */
.brand_carousel .slick-dots li.slick-active button:before {
  color: #4f46e5 !important;
}

.brand_carousel .slick-dots li button:before {
  font-size: 12px;
}

.slick-list {
  overflow: hidden;
}

.btn-play {
  border-radius: 0 0 30px 30px;
  background: #ff8f1f;
  box-shadow: 0 -5px 30px #ff8f1f4d;
  padding: 12px 0;
  width: 100%;
  line-height: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin-top: 10px;
  color: #000 !important;
}

.card-sl {
  border: 2px solid #ffffff4d;
  border-radius: 32px;
  padding-top: 10px;
}

.card-sl > div > .mt-3 {
  display: flex;
  padding: 0 10px;
}

.advnt {
  border-radius: 30px;
  border-top: 2.5px solid #ffffff4d;
  border-bottom: 2.5px solid #ffffff4d;
  background: linear-gradient(161deg, #ffffff1a, #ffffff0d 101.7%);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  padding: 28px !important;
}

.dated {
  position: absolute;
  border-radius: 5px 5px 0 0;
  max-width: 50px;
  width: 100%;
  left: calc(50% - 25px);
  top: -50px;
  height: 50px;
  background: #ff8f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  color: #000 !important;
}

.advent .card-sl p {
  padding: 0 10px;
  text-align: center;
  font-weight: 700;
  min-height: 54px;
  max-height: 54px;
  overflow: hidden;
  color: #000 !important;
  line-height: 18px !important;
}

.mt-33 {
  margin-top: .75rem !important;
}

.not-yet {
  color: #444548;
  background: #dcdcdd;
  box-shadow: none;
}

.not-yet:hover {
  background: #dcdcdd;
}

.not-yet:before {
  display: none;
}

.closed {
  background-color: #dcdcdd;
  background-image: url("/newimages/notact.png");
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 32px;
}

.nonoact {
  width: 192px;
  height: 96px;
}

.card-advent:first-child .dated, .card-advent:nth-child(2) .dated, .card-advent:nth-child(3) .dated, .card-advent:nth-child(4) .dated, .card-advent:nth-child(5) .dated {
  background: linear-gradient(161deg, #5aa148, #3b702e);
}

.card-advent:first-child .btn-play, .card-advent:nth-child(2) .btn-play, .card-advent:nth-child(3) .btn-play, .card-advent:nth-child(4) .btn-play, .card-advent:nth-child(5) .btn-play {
  background: linear-gradient(161deg, #5aa148, #3b702e);
}

.card-advent:nth-child(6) .dated, .card-advent:nth-child(7) .dated, .card-advent:nth-child(8) .dated, .card-advent:nth-child(9) .dated, .card-advent:nth-child(10) .dated {
  background: linear-gradient(161deg, #6c37b1, #310877);
}

.card-advent:nth-child(6) .btn-play, .card-advent:nth-child(7) .btn-play, .card-advent:nth-child(8) .btn-play, .card-advent:nth-child(9) .btn-play, .card-advent:nth-child(10) .btn-play {
  background: linear-gradient(161deg, #6c37b1, #310877);
}

.card-advent:nth-child(11) .dated, .card-advent:nth-child(12) .dated, .card-advent:nth-child(13) .dated, .card-advent:nth-child(14) .dated, .card-advent:nth-child(15) .dated {
  background: linear-gradient(161deg, #088af6, #568df0);
}

.card-advent:nth-child(11) .btn-play, .card-advent:nth-child(12) .btn-play, .card-advent:nth-child(13) .btn-play, .card-advent:nth-child(14) .btn-play, .card-advent:nth-child(15) .btn-play {
  background: linear-gradient(161deg, #088af6, #568df0);
}

.activate .btn-play {
  background: #ff8f1f !important;
}

.opened {
  background-image: url("/newimages/yesact.png");
  background-repeat: no-repeat;
  background-position: top;
}

.card-advent:nth-child(3n+1) .nonoact {
  background-image: url("/newimages/box_1_light.png");
  background-repeat: no-repeat;
  background-position: top;
}

.card-advent:nth-child(3n+2) .nonoact {
  background-image: url("/newimages/box_2_light.png");
  background-repeat: no-repeat;
  background-position: top;
}

.card-advent:nth-child(3n+3) .nonoact {
  background-image: url("/newimages/box_3_light.png");
  background-repeat: no-repeat;
  background-position: top;
}

.closed .btn-play {
  opacity: .5;
}

.closed .dated {
  color: #444548;
  background: #dcdcdd;
}

.opennow {
  background: #fcfdffd9;
  border-radius: 15px;
}

.advnt {
  background-image: url("/newimages/adventcalendar_light.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  border: 2.5px solid #ffffff4d;
}

.opened, .activate {
  background-color: #fff;
  border-radius: 30px;
}

.closed {
  border-radius: 30px;
}

.light .card-sl {
  background: none !important;
}

@media (width >= 320px) and (width <= 767px) {
  .card-advent {
    flex-basis: 48% !important;
  }

  .advnt {
    background: url("/newimages/bgmomob2.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    padding: 12px !important;
  }

  .opened, .closed {
    background-size: contain;
    border-radius: 30px !important;
  }

  .nonoact {
    max-width: 192px;
    max-height: 96px;
    width: 146px;
    height: 73px;
  }

  .card-advent img {
    width: 146px;
    height: 73px;
  }

  .card-sl {
    width: 100%;
    border-radius: 30px !important;
  }
}


/*# sourceMappingURL=components_00aaa5._.css.map*/
