/* [project]/components/Banners_tailwind/Advent/styled.component.css [app-ssr] (css) */
.brand_carousel .slick-dots li.slick-active button:before {
  color: #4f46e5 !important;
}

.brand_carousel .slick-dots li button:before {
  font-size: 12px;
}

.slick-list {
  overflow: hidden;
}

.btn-play {
  border-radius: 0 0 30px 30px;
  background: #ff8f1f;
  box-shadow: 0 -5px 30px #ff8f1f4d;
  padding: 12px 0;
  width: 100%;
  line-height: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin-top: 10px;
  color: #fff !important;
}

.card-sl {
  border: 2px solid #ffffff4d;
  border-radius: 32px;
  padding-top: 10px;
}

.card-sl > div > .mt-3 {
  display: flex;
  padding: 0 10px;
}

.advnt {
  border-radius: 30px;
  border-top: 2.5px solid #ffffff4d;
  border-bottom: 2.5px solid #ffffff4d;
  background: linear-gradient(161deg, #ffffff1a, #ffffff0d 101.7%);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  padding: 19px 28px !important;
}

.dated {
  position: absolute;
  border-radius: 5px 5px 0 0;
  max-width: 100px;
  width: 100%;
  left: calc(50% - 50px);
  top: -50px;
  height: 50px;
  background: #ff8f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  color: #fff !important;
}

.advent .card-sl p {
  padding: 0 10px;
  text-align: center;
  font-weight: 700;
  min-height: 54px;
  max-height: 54px;
  overflow: hidden;
  color: #000 !important;
  line-height: 18px !important;
}

.mt-33 {
  margin-top: .75rem !important;
}

.not-yet {
  color: #444548;
  background: #dcdcdd;
  box-shadow: none;
}

.not-yet:hover {
  background: #dcdcdd;
}

.not-yet:before {
  display: none;
}

.closed {
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 32px;
}

.nonoact {
  width: 146px;
  height: 73px;
}

#advent .card-sl img {
  width: 146px;
  height: 73px;
  min-height: 73px !important;
}

.card-advent .dated {
  background: #4fdd2f !important;
}

.card-advent .btn-play, .card-advent .btn-play, .card-advent.activate .btn-play {
  background: #4fdd2f !important;
}

#advent .mb-3.text-white {
  color: #262139;
}

.card-advent:nth-child(2) .dated, .card-advent:nth-child(5) .dated {
  background: linear-gradient(161deg, #6c37b1, #310877);
}

.card-advent:nth-child(2) .btn-play, .card-advent:nth-child(5) .btn-play {
  background: linear-gradient(161deg, #6c37b1, #310877);
}

.card-advent:nth-child(3) .dated, .card-advent:nth-child(6) .dated {
  background: linear-gradient(161deg, #088af6, #568df0);
}

.card-advent:nth-child(3) .btn-play, .card-advent:nth-child(6) .btn-play {
  background: linear-gradient(161deg, #088af6, #568df0);
}

.card-advent:nth-child(11) .btn-play, .card-advent:nth-child(12) .btn-play, .card-advent:nth-child(13) .btn-play, .card-advent:nth-child(14) .btn-play, .card-advent:nth-child(15) .btn-play {
  background: linear-gradient(161deg, #088af6, #568df0);
}

.activate .btn-play {
  background: #ff8f1f !important;
}

.card-advent .nonoact {
  background-image: url("/newimages/box_desk.png");
}

.closed .btn-play {
}

.closed .dated {
  color: #444548;
  background: #dcdcdd;
}

.opennow {
  background: #fcfdffd9;
  border-radius: 15px;
}

.advnt {
  background-image: url("/newimages/adventcalendar_light.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  border: 2.5px solid #ffffff4d;
}

.opened, .activate {
  background-color: #fff;
  border-radius: 30px;
}

.closed {
  border-radius: 30px;
}

.light .card-sl {
  background: none !important;
}

@media (width >= 320px) and (width <= 767px) {
  #advent .random-title {
    font-size: 20px !important;
    line-height: 24px !important;
  }

  .card-advent {
    flex-basis: 48% !important;
  }

  .advnt {
    background: url("/newimages/bgmomob2.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    padding: 12px !important;
  }

  .opened, .closed {
    background-size: contain;
    border-radius: 30px !important;
  }

  .nonoact {
    max-width: 192px;
    max-height: 96px;
    background-size: cover;
    width: 146px;
    height: 73px;
  }

  .card-advent img {
    width: 146px;
    height: 73px;
  }

  .card-sl {
    width: 100%;
    border-radius: 30px !important;
  }
}

/*# sourceMappingURL=components_Banners_tailwind_Advent_styled_component_31ffea.css.map*/